<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input"> Từ khoá </label>
            <input type="text" name="number" class="form-control" id="search-input" placeholder="Number">
            <input type="text" name="name" class="form-control" id="search-input" placeholder="Name">
            <input type="text" name="code" class="form-control" id="search-input" placeholder="Code">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>